import './style.scss';

interface {{componentName}}Props {

}

const {{componentName}} = (props: {{componentName}}Props) => {
  return <div className="{{componentName}}">{{componentName}}</div>
};

export default {{componentName}};
